{
  "account": "PLACEHOLDER_EMAIL",
  "client_id": "PLACEHOLDER_CLIENT_ID",
  "client_secret": "PLACEHOLDER_CLIENT_SECRET",
  "refresh_token": "PLACEHOLDER_REFRESH_TOKEN",
  "quota_project_id": "PLACEHOLDER_PROJECT",
  "type": "authorized_user",
  "universe_domain": "googleapis.com"
}